@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section-brands {
    background-color:#F8F8F8;
    min-width: 320px;
    height: 500px;
}

.section-brands__header {
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    height: 80px;
    border-top: solid 2px #D9FFF5;
    padding: 15px;
}

.section-brands__title {
    color: #7E7E82;
    font-family: 'TT LAkes';
    font-weight: normal;
    display: flex;
    align-items: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

.section-brands__list {
    display: none;
}

.section-brands__item {
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    margin-top: 16px;
    margin-left: 16px;
    flex-shrink: 0
}

.section-brands__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.section-brands__link::after {
    content: url(logo/go.svg);
}

.section-brands__slider-item {
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    margin-top: 16px;
    margin-left: 16px;
    flex-shrink: 0
}

.section-brands__slider-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
}


.section-brands__slider-link::after {
    content: url(logo/go.svg);
}

.section-brands__change {
    display: none;
}



@media (min-width:768px) {
    .section-brands__header {
        height: 56px;
        padding-top: 15px; 
        padding-bottom: 15px;
        padding-left: 24px;
    }
    .section-brands__list {
        padding-right: 16px;
        padding-top: 24px;
        padding-left: 24px;
        margin-bottom: 24px;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
        height: 200px;
    
    }

    .section-brands__item {
        margin-left: 16px;
    }

    .swiper-container {
        display: none;
    }

    .section-brands__change {
        display: flex;
        margin-left: 31px;
        margin-top: 24px;
    }
    

    button {
        display: flex;
        font-family: 'TT LAkes';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        background-color: #F8F8F8;
        border: none;
    }

    button::before {
        content: url(img/expand.svg);
    }

    .button-open {
        display: flex;
        margin-top: 170px;
    }
    
    .button-open::before  {
        content: url(img/expand.svg);
        
    }
}


@media (min-width:1120px) {
    .section-brands__header {
        padding-top: 15px; 
        padding-bottom: 15px;
        padding-left: 32px;
    }

    .section-brands__list {
        padding-right: 16px;
        padding-top: 24px;
        padding-left: 24px;
        margin-bottom: 24px;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
        height: 200px;
        
    }

    .section-brands__item {
        margin-left: 16px;
    }
}

.visible {
    overflow: visible;
}